h2{
  line-height: 0;
  text-align: center;
  color: #282c34;
  background-color: rgb(246, 209, 255);
  -moz-user-select: none;
  -webkit-user-select: none;
}

.App {
  margin: 0;
  padding: 0;
  background-color: rgb(149, 252, 209);
}

.charts{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding-top: 10px;
}

.chart{
  width: 500px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 2px solid rgb(149, 252, 209);
  border-radius: 7px;
  transition: 0.5s;
}

.chart:hover{
  border-radius: 17px;
  background: linear-gradient(145deg, #e1e6e3, #ffffff);
}
